// Place all the styles related to the Postpool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postpool{
	table{
		border-collapse: collapse;
	}
	
	table tr td{
		padding: 5px;
		vertical-align: top;
	}
	
	.list_body
	{
		width: 60%;
		
		dl{
			margin:0;
		}
		dt{
			color: #141;
			font-weight: bold;
			font-size: larger;
		}
		
		dd{
			font-size: 15px;
			margin-left: 15px;
			padding-top: 5px;
			margin-bottom: 3px;
			font-family: Times;
			color: #227;
		}
	}
	
	.list_actions{
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}
	
	.list_line_even{
		background: #ACE6E6;
	}
	
	.list_line_odd{
		background: #66CCCC;
		
	}
	
}